venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/

page_design/

.firebase/

firebase-debug.log
node_modules/
functions/node_modules/

package-lock.json

*.pth

static/assets/usr/*
!.keep

server/src/templates/usr_data/*
!.keep

export.pkl