<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="icon" type="image/png" href="./assets/logo_favicon.png" />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="./js/main.js"></script>
  <title>AlzheimersAI | Profile</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light sticky-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img class="img-responsive" src="./assets/logo.png"></img>
      AlzheimersAI
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/neuralz">NeuralZ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" id="loginnav" style="display: none;">Login</a>
        </li>
        <li class="nav-item" style="display: none;" id="statsnav">
          <a class="nav-link" href="/stats">Stats</a>
        </li>
        <li class="nav-item active" id="profilenav">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item" style="display: none;" id="signoutnav">
          <a class="nav-link" href="/signout">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <header class="masthead-nothome">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Patient Profile</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="py-5">
    <div class="container" style="width: 70%; margin: 0 auto;">
      <h2 class="font-weight-light">Let's get started!</h2>
      <hr>

      <form id="form">
        <legend>Tell us a bit about our patient</legend>
        <p>Patient's Full Legal Name:</p>
        <p><input class="form-control form-control-lg" type="text" name="patient_name" id="patient_name"
            style="width: 60vw; text-align: center;" /></p>
        <p>Patient's Birthplace (City):</p>
        <p><input class="form-control form-control-lg" type="text" name="patient_birthplace" id="patient_birthplace"
            style="width: 60vw; text-align: center;" /></p>
        <p>Patient's Date Of Birth (MM/DD/YY):</p>
        <p><input class="form-control form-control-lg" type="text" name="patient_DOB" id="patient_DOB"
            style="width: 60vw; text-align: center;" /></p>
        <p>Patient's Country:</p>
        <p><input class="form-control form-control-lg" type="text" name="patient_country" id="patient_country"
            style="width: 60vw; text-align: center;"></p>
        <p>Patient's State:</p>
        <p><input class="form-control form-control-lg" type="text" name="patient_state" id="patient_state"
            style="width: 60vw; text-align: center;" /></p>
        <p><input class="btn btn-outline-info" type="submit" value="Update" /></p>
      </form>
    </div>
    <br>
    <!--End Copy-Pastable Block-->
    </div>
  </section>
  <footer>
    Copyright &copy; 2020
  </footer>
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyBALf2tjKvZfh-bjypK0fdlddD-xHfDYng",
      authDomain: "alzheimersai-2121.web.app/",
      databseURL: "https://alzheimersai-2121.firebaseio.com/",
      projectId: "alzheimersai-2121"
    }
    if (firebase.apps.length === 0) {
      firebase.initializeApp(config)
      console.log("worked")
    }
    const auth = firebase.auth();
    const db = firebase.firestore();
    auth.onAuthStateChanged(function (user) {
      console.log(user)
      if (user !== null) {
        var form = document.getElementById("form")
        var docRef = db.collection("users").doc(user.uid);
        docRef.get().then(function (doc) {
          if (doc.exists) {
            thedocdocdoc = doc
            if (doc.data().profile === true) {
              var name = document.getElementById("patient_name")
              var city = document.getElementById("patient_birthplace")
              var dob = document.getElementById("patient_DOB")
              var country = document.getElementById("patient_country")
              var state = document.getElementById("patient_state")
              name.value = doc.data().name
              city.value = doc.data().city
              dob.value = doc.data().dob
              country.value = doc.data().country
              state.value = doc.data().state
            }
          }
          else {
            window.location.pathname = '/login'
          }
        })
        console.log("NEW")
        form.onsubmit = function (e) {
          e.preventDefault()
          console.log("submitted")
          var name = document.getElementById("patient_name").value;
          var city = document.getElementById("patient_birthplace").value;
          var dob = document.getElementById("patient_DOB").value;
          var country = document.getElementById("patient_country").value
          var state = document.getElementById("patient_state").value
          if (city !== "" && name !== "" && dob !== "" && country !== "" && state !== "") {
            db.collection("users").doc(user.uid).update({ profile: true, name: name, city: city, dob: dob, country: country, state: state }).then(function () {
              window.location.pathname = '/neuralz'
            })
          }
          else {
            alert("Please fill in all fields")
          }
        }
        document.getElementById("signoutnav").style.display = 'inline-block'
        document.getElementById("statsnav").style.display = 'inline-block'
      }
      else {
        window.location.pathname = '/login'
      }
    });
  </script>
</body>

</html>